*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

#titulo {
    display: flex;
    justify-content: center;
    margin: 5vh 0vw;
}

#div1 {
    display: flex;
    justify-content: center;
    font-size: 1,5em;
    color: red;
}

#p1 {
    background-color: white;
}

#div2 {
    margin-right: 2vw;
    display: flex;
    justify-content: flex-end;
    font-size: 1,5em;
    color: blueviolet;
}

#p2 {
    background-color: black;
}

#div3 {
    margin-left: 2vw;
    display: flex;
    justify-content: flex-start;
    font-size: 1,5em;
    color: white;
}

#p3 {
    background-color: red;
}